{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technical Task</title>
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <nav class="topnav">
            <div>
                <a class="active" href="{% url 'home'%}">Home</a>
                <a href="{% url 'about'%}">About</a>
            </div>
            {% if user.is_authenticated %}
                <div>
                    <h4>{{ user.username }}</h4>
                    <a href="{% url 'logout'%}">logout</a>
                </div>
            {% else %}
                <div>
                    <a href="{% url 'registration'%}">Sign Up</a>
                    <a href="{% url 'login'%}">Login</a>
                </div>
            {% endif %}
        </nav>
    </header>
{% block content%}
{% endblock %}
</body>
</html>